*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 21px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
    padding: 10px;

}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: white;
    
}
.form h2{
    font-size: 3rem;
    font-family: cursive;
    margin: 40px;
}
.box{
    padding: 12px;
    width: 50%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 58px;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 58px;
}
